/* h1 태그에 대한 스타일 */
h1{
    color: blue; /* 글자 색상을 파란색으로 설정 */
    text-align: center; /* 텍스트를 가운데 정렬 */
}

/* p 태그에 대한 스타일 */
p{
    font-size: 16px; /* 글자 크기를 16px로 설정 */
    color: gray; /* 글자 색상을 회색으로 설정 */
    line-height: 1.5; /* 줄 간격을 1.5로 설정 */
    margin: 20px; /* 문단 주위에 20px의 여백을 추가 */
}